html {
    height: 100%;
    font-size:1.5vh;
}

body {
    margin: 0 auto;
    height: 100%;
}

#device-info {
    color: red;
    position: absolute;
    font-size: 3vh;
    top:0;
    z-index:1000;
}

#canvasa {
background-color: #121;
}
canvas {
    position:absolute;
    height: 500px;
    width: 1000px;
}
#screen {
    background-color: #010;
    overflow: scroll;
    height: 100%;
}
#controls {
    float:right;
}
.floating-right {
    float: right
}

.flex-control {
    /*display: flex;*/
    border: solid 2px brown;
    border-radius: 0.3em;
    margin: 1em 0.5em 0.5em 0.5em;
    padding: 0.5em;
    font-size: 1.5em;
}

.flex-control select, .flex-control button {
    background-color: rgba(255, 255, 255, 0.6);
    font-size: 1em;
    height: 1.5em;
}

.flex-control>.control-title {
    display: block;
    font-size: 1em;
    padding: 0 3px;
    margin: -1.2em 0 0.3em 0;
    background-color: inherit;
    border: solid 1px #a52a2a;
    border-radius: 0.3em;
}

.flex-sub-control {
    margin-top: 0.2em;
    border: solid 1px #a52a2a;
    border-radius: 0.3em;
    padding: 0.2em;
}

button {
    height: 1em;
    font-size: 0.3em
}

.aiming {
    cursor: crosshair
}

.button-activated {
    border-style: inset
}

.full-width {
    width: 95%;
}

.rightw5 {
    width: 5em;
    display: inline-block;
    text-align: right;
}
.channelA {
    background-color: #80F080
}

.channelB {
    background-color: #8080D0
}

.channelC {
    background-color: #F0F080
}

.sampling, .trigger {
    background-color: #E0E0E0
}

.gen {
    background-color: #FFc0C0;
}

.screen {
    background-color:#FFE
}

#s-a-text {
    width: 50%;
    color: #484;
}

#d-a-text {
    width: 50%;
    color: #484;
}

#t-text{
    width: 50%;
}

#d-t-text{
    width: 50%;
}
