html {
    height: 100%;
}

body {
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
}

#device-info {
    color: lightcyan;
    position: absolute;
}

#canvas {
    background-color: pink;
    flex:  10 1;
    /*height: 100%;*/
}

.flex-control {
    display: flex;
    flex-flow: row wrap;
    flex: 1 10  ;
}
.flex-control .control-title {
    font-size: 1.5em;
    width: 100%;
}