html {
    height: 100%;
}

body {
    margin: 0 auto;
    height: 100%;
}

#device-info {
    color: lightcyan;
    position: absolute;
}

#canvas {
    background-color: pink;
    width: 100%;
    height: 100%;
}

